/.metadata/
/bin/
/year_1/term_4/programming_2/unit_8/WeatherApplication/WeatherApp/target/
/year_1/term_4/programming_2/unit_8/WeatherApplication/WeatherApp/nbproject/private/
/year_1/term_4/programming_2/unit_8/WeatherApplication/javafxtest/nbproject/private/
/year_1/term_4/programming_2/unit_8/WeatherApplication/WeatherApplication/target/
/year_1/term_4/programming_2/unit_8/WeatherApplication/mavenproject1/target/
